################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/imdb/.vs/Deltax/v15/Server/sqlite3
/imdb/Common/DeltaX.Core/obj
/imdb/Library/DeltaX.DataAccess/obj/Debug/netcoreapp2.0
/imdb/Library/DeltaX.DataAccess/obj
/imdb/Library/DeltaX.DataAccess/bin/Debug/netcoreapp2.0
/imdb/Common/DeltaX.Core/bin/Debug/netcoreapp2.0
/imdb/Presentation/DetlaX.API/bin/Debug/netcoreapp2.0
/imdb/Presentation/DetlaX.API/obj/Debug/netcoreapp2.0
/imdb/Presentation/DetlaX.API/logs
/imdb/Presentation/DetlaX.API/obj
/imdb/Library/DeltaX.Services/bin/Debug/netcoreapp2.0
/imdb/Library/DeltaX.Services/obj/Debug/netcoreapp2.0
/imdb/Library/DeltaX.Services/obj
