################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/imdb/.vs/Deltax/v15/Server/sqlite3
