################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/imdb/.vs/Deltax/v15/Server/sqlite3
/imdb/Common/DeltaX.Core/obj
/imdb/Library/DeltaX.DataAccess/obj/Debug/netcoreapp2.0
/imdb/Library/DeltaX.DataAccess/obj
