<form [formGroup]="actorForm">
    <p class="h5 text-center mb-4">Add Actor</p>
    <div class="md-form">
            <input type="text" id="actorName" formControlName="actorName" class="form-control" mdbInputDirective [mdbValidate]="false" [ngClass]="(this.actorForm.controls['actorName'].touched && !this.actorForm.controls['actorName'].valid)?'invalid':''">
            <label for="actorName">Actor Name</label>
            <span class="formError" *ngIf="(this.actorForm.controls['actorName'].touched && !this.actorForm.controls['actorName'].valid)">Invalid Value: Name should be atleast 2 characters</span>
    </div>
    <div class="md-form">
            <textarea type="text" id="actorFormBio" formControlName="bio" class="md-textarea" style="height: 100px;width:100%" mdbInputDirective [mdbValidate]="false"[ngClass]="(this.actorForm.controls['bio'].touched && !this.actorForm.controls['bio'].valid)?'invalid':''"></textarea>
            <label for="actorFormBio">Actor Bio</label>
            <span class="formError" *ngIf="(this.actorForm.controls['bio'].touched && !this.actorForm.controls['plot'].valid)">Invalid Value: Actor bio should be atleast 100 characters</span>
    </div>
    <div class="md-form">
            <input class="form-control" type="file" name="movieImage" accept="image/*" id="movieImage" formControlName="image" (change)="fileEvent($event)">
    </div>
    
</form>
